body {
  background-color: rgb(253, 251, 251);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 20px;
  font-size: 20px;
}

h2 {
  font-size: 20px;
  font-weight: 500;
}

#titulo {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: aliceblue;
}

#cabecalho {
  margin-left: 690px;
  display: block;
  padding: 4px;
  border: 2px aliceblue;
  border-style: dotted;
  position: fixed;
  top: 0;
  background-color: palevioletred;
}

#minha_foto {
  margin-left: 690px;
  display: block;
  max-width: 500px;
  max-height: 400px;
  width: auto;
  height: auto;
  margin-top: 100px;
  margin-bottom: 50px;
}

nav , img {
  display: block;
}

#licoes_aprendidas {
  display: inline-block;
}

#licoes_a_aprender {
  display: inline-block;
}

#rodape {
  margin-top: 30px;
  text-align: right;
}

.lado-esquerdo {
  display: inline-block;
  width: 40%;
  margin-left: 200px;
}

.lado-direito {
  display: inline-block;
  width: 40%;
}

section {
  clear: both;
  margin-top: 30px;
}

nav {
  margin-left: 690px;
}

table , th , td {
  border: 1px solid black;
  margin-left: 600px;
}
